.container {
  display: flex;
}

.mask {
  background: #FFFFFF;
  padding: 20px;
  position: absolute;
  inset: 10px;
  border: 1px solid rgba(223, 219, 219, 0.5);
  border-radius: 6px;
  z-index: 1;
}

.content {
  padding: 0 14px;
}

.button {
  font-size: 16px;
  cursor: pointer;
}

.button div {
  cursor: pointer !important;
}

.heading {
  font-size: 14px;
  font-weight: bold;
  color: #424242;
}

.editorContainer {
  max-height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
}

.editor {
  font-size: var(--font-size-14);
  font-family: var(--font-family-code);
}
