.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 20px;
}

.text {
  font-size: 14px;
  text-align: center;
}

.creditsText {
  font-size: 12px;
  text-align: center;
  color: #999;
}
