.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 20px;
}

.text {
  font-size: 14px;
  text-align: center;
}

.loading {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.loadingItem {
  width: 10px;
  height: 40px;
  background-color: #41f3fd;
  margin: 4px;
  box-shadow: 0 0 12px 3px #0882ff;
  animation: rl-loading 1.5s ease-in-out infinite;
}

.loadingItem:first-child {
  animation-delay: 0s;
}

.loadingItem:nth-child(2) {
  animation-delay: 0.5s;
}

.loadingItem:last-child {
  animation-delay: 1s;
}

@keyframes rl-loading {
  0% {}
  20% {
      background: white;
      transform: scale(1.5);
  }
  40% {
      background: #41f3fd;
      transform: scale(1);
  }
}